html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body{
    min-height: 300px;
    font-family: 'MISANS';
    background: #f4f6f8;
  }
  @font-face {
    font-family: MISANS;
    src: url('~static/MiSans-Normal.ttf');
  }
  .nuxt-content h2 {
    font-weight: bold;
    font-size: 28px;
  }
  .nuxt-content h3 {
    font-weight: bold;
    font-size: 22px;
  }
  .nuxt-content p {
    font-size: 16px;
    word-break: break-all;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  code{
    font-family:'Microsoft YaHei';
    font-size: 14px;
  }